<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  novalidate>
    <mat-form-field>
        <input matInput placeholder="Email" class="form-control" formControlName="email">
        <mat-error *ngIf="loginForm.get('email').value === '' && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            La dirección de correo electrónico es obligatoria.
        </mat-error>
        <mat-error *ngIf="loginForm.get('email').status === 'INVALID' && (loginForm.get('email').dirty || loginForm.get('email').touched)">
            Por favor, introduce una dirección de correo electrónico válida.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Clave" class="form-control" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').value === '' && (loginForm.get('password').dirty || loginForm.get('password').touched)">
            La contraseña es obligatoria.
        </mat-error>
    </mat-form-field>

    <button mat-raised-button type="submit"  [disabled]="loginForm.status === 'INVALID'" >Continuar</button>            
</form>

<!-- <pre>
<p>Form value: {{ loginForm.value | json }}</p>
<p>Form status: {{ loginForm.status | json }}</p>

<p>Email Value {{ loginForm.get('email').value }}</p>
<p>Email status {{ loginForm.get('email').status }}</p>
</pre> -->
