<form [formGroup]="signInForm" (ngSubmit)="onSubmit()"  novalidate>
  <mat-form-field>
      <input matInput placeholder="Email" class="form-control" formControlName="email">
      <mat-error *ngIf="signInForm.controls['email'].errors && signInForm.controls['email'].errors.required">
        La dirección de correo electrónico es obligatoria.
      </mat-error>
      <mat-error *ngIf="signInForm.controls['email'].errors && signInForm.controls['email'].errors.email">
        Por favor, introduce una dirección de correo electrónico válida.
      </mat-error>
  </mat-form-field>

<br>

    <div  formGroupName="passwords" style="margin-top: 10px;">

        <mat-form-field>
            <input matInput placeholder="Clave" class="form-control" formControlName="password">
            <mat-error *ngIf="signInForm.controls['passwords'].controls['password'].errors && signInForm.controls['passwords'].controls['password'].errors.required">
                La contraseña es obligatoria.
            </mat-error>
            <!-- Currently more of two errors in mat-error are not show -->
            <!-- <mat-error *ngIf="signInForm.controls['passwords'].controls['password'].errors && signInForm.controls['passwords'].controls['password'].errors.minLength">
                La contraseña debe tener almenos 6 caracteres.
            </mat-error> -->
         </mat-form-field>
        
         <mat-form-field>
            <input matInput placeholder="Repetir Clave" class="form-control" formControlName="repeatPassword">
            <mat-error *ngIf="signInForm.controls['passwords'].controls['repeatPassword'].errors && signInForm.controls['passwords'].controls['repeatPassword'].errors.required">
                Confirmar la contraseña es obligatorio.
            </mat-error>
            <!-- This mat-error don't work -->
            <!-- <mat-error *ngIf="(signInForm.controls['passwords'].errors && signInForm.controls['passwords'].errors.areEqual) && signInForm.get('passwords.repeatPassword').value !== ''">
                Las contraseñas deben coincidir
            </mat-error> -->
        </mat-form-field>
         
    </div>

    <!-- TODO : make this error form part of mat-error tag of repeatPassword imput -->
    <div *ngIf="(signInForm.controls['passwords'].errors && signInForm.controls['passwords'].errors.areEqual) && signInForm.get('passwords.repeatPassword').value !== ''" style="color:red; margin: 10px 0 10px 0;" >
        <b>
            Las contraseñas deben coincidir
        </b>
    </div>
    <!-- Don't work -->
    <!-- <div *ngIf="signInForm.controls['passwords'].controls['password'].errors && signInForm.controls['passwords'].controls['password'].errors.minLength" style="color:red; margin: 10px 0 10px 0;" >
        <b>
            La contraseña debe tener almenos 6 caracteres.
        </b>
    </div> -->
    <div *ngIf="signInForm.get('passwords.password').value.length > 0 && (signInForm.get('passwords.password').value.length === signInForm.get('passwords.repeatPassword').value.length) && signInForm.get('passwords.password').value.length < 6" style="color:red; margin: 10px 0 10px 0;" >
        <b>
            La contraseña debe tener almenos 6 caracteres.
        </b>
    </div>

  <button mat-raised-button type="submit"  [disabled]="signInForm.status === 'INVALID'" >Continuar</button>            
</form>